@import '_left-bar.scss';

.wrapper {
    display: flex;
}

.balance__body {
    color: rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    padding: 20px;
    background-color: rgb(126, 196, 139);
    border-radius: 12px;
    box-sizing: border-box;
}
.balance__bottom {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.balance__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.balance__name-currency,
.balance__extra-currency {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}


.balance__middle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.balance__cache {
    font-size: 47px;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
}

.balance__cache span.curr {
    font-weight: 600;
    opacity: 0.4;
    margin-right: 5px;
    line-height: inherit;
}

.balance__cache small {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    display: block;
    margin-left: 5px;
}

a.balance__btn-deposit {
    margin: 10px 5px;
    color: #fff;
    background-color: inherit;
    line-height: 1.33 !important;
    text-transform: inherit;
    font-family: "GothamProReg" !important;
    font-weight: bold;
    
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    width: 43%;
    text-align: center;
    padding: 4px 0 3px;
}

a.balance__btn-deposit:hover {
    background-color: #fff;
    color: #2b393f;
}